<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page d'accueil</title>
    <link href="/resources/css/styles_accueil.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>XML Projet</h1>
        <p>Numéro de version : <%= "1.0" %></p>
        <p>Nom & Prénom de chaque membre de l'équipe :</p>
        <ul>
            <li>TOUBAL Zine-Eddine</li>
            <li>BEN AHMED Yacine</li>
        </ul>
        <img src="/resources/img/logo_univ.png" alt="Logo de l’Université de Rouen">
    </div>

    <footer>
        <p>Tous droits réservés &copy; 2024</p>
    </footer>
</body>

</html>